.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
}
.header .btn--back{
    flex: 1;
    font-size: 35px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.header .btn--back.on{
    opacity: 1;
    visibility: visible;
}
.header .header__logo{
    flex: 1;
    transform: scale(0.4);
}
.header .header__menu{
    flex: 1;
    text-align: right;
    opacity: 0;
    visibility: hidden;
}
.header .header__menu .menu__item{
    font-size: 15px;
    color: rgb(143, 143, 143);
    cursor: pointer;
}
.header .header__menu .menu__item + .menu__item{
    margin-left: 12px;
}


.wrap{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}
.wrap.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-1{flex: 1;}
.w-220{width: 220px;}
.mt-40{margin-top: 40px;}
.mt-80{margin-top: 80px;}

.btn--back{font-size: 20px; padding-bottom: 30px; cursor: pointer;}

.page__container{display: none; margin-top: 120px;}
.page__container.on{display: block;}

#page-0 .wrap.flex{width: 900px;}
.wrap.flex .index__left{width: 100%; position: relative; flex: 1;}
.wrap.flex .index__left::after{content: ""; display: block; padding-top: 100%;}
.wrap.flex .index__left .left__image{position: absolute; top: 0; left: 0;}

.wrap.flex .index__right{height: 360px; display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1.5;}
.wrap.flex .index__right .right__title{font-size: 14px; font-weight: 500; margin-bottom: 12px;}
.wrap.flex .index__right .right__content{width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background-color: var(--success-color);}
.wrap.flex .index__right .right__content .content__title{font-size: 20px; font-weight: 600; margin-bottom: 50px;}
.wrap.flex .index__right .right__footer .right__btn{width: 180px; height: 52px; display: flex; justify-content: center; align-items: center; border: 1px solid #000000; border-radius: 30px; margin-top: 12px; cursor: pointer;}


.index__top{
    padding: 60px 0px;
    background-color: var(--success-color);
}

.index__title{text-align: center;}
.index__title p,
.index__title span{
    font-size: 26px;
    font-weight: 500;
    line-height: 2;
}
.index__title p > span{font-weight: 600;}

.index__subtitle{
    text-align: center;
    padding: 100px 0px;
}

.common__btn{
    display: none;
    justify-content: center;
    align-items: center;
}
.common__btn.on{
    display: flex;
}

.common__btn p{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #000000;
    color: #000000;
    width: 180px;
    height: 52px;
}

.common__btn p.on{background-color: var(--link-btn-color); color: #ffffff;}
.common__btn p:hover{background-color: var(--link-btn-color); color: #ffffff;}
.common__btn p + p{margin-left: 50px;}
.common__btn p.btn--success, .btn--success{background-color: var(--success-color); border: none;}
.common__btn p.btn--success.on{background-color: var(--link-btn-color); color: #ffffff;}
.common__btn p.btn--success:hover{background-color: var(--link-btn-color); color: #ffffff;}
.link__btn{margin: 30px 0px;}

.servey__question{
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
}

.servey__answer{
    background-color: var(--success-color);
    border: none;
    padding: 15px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    width: 220px;
}

.servey__answer:focus {background-color: var(--link-btn-color); color: #ffffff;}
.servey__btn .wrap{
    max-width: 500px;
}

.servey__btn.servey__score__btn .wrap{max-width: 780px;}

.score__btn{display: flex; justify-content: space-between; align-items: center;}

.servey__score {
    display: inline-flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.servey__score:nth-child(1), .servey__score:nth-child(5){width: 120px; height: 120px;}
.servey__score:nth-child(2), .servey__score:nth-child(4){width: 80px; height: 80px;}
.servey__score:nth-child(3){width: 60px; height: 60px;}
.servey__score:hover{background-color: var(--link-btn-color); color: #ffffff;}
.servey__score.on{background-color: var(--link-btn-color); color: #ffffff;}
.servey__count {
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
}


.chart{margin: 0 auto;}

.dialog{
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}
.dialog .loading__text{
    display: inline-flex;
    width: 240px;
    height: 120px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

@media all and (max-width:479px) {
    .header .btn--back{display: none;}
    .header .btn--back.on{display: block; padding-left: 24px;}
    .header .header__logo.off{display: none;}
    .header .header__menu{display: none;}
    .question__container{
        padding: 0px 24px;
    }

    .common__btn p + p{
        margin-left: 12px;
    }

    .servey__score{font-size: 12px;}
    .servey__score:nth-child(1), .servey__score:nth-child(5){width: 70px; height: 70px;}
    .servey__score:nth-child(2), .servey__score:nth-child(4){width: 60px; height: 60px;}
    .servey__score:nth-child(3){width: 50px; height: 50px;}
    .chart {
        width: 100% !important;
        height: auto !important;
        box-sizing: border-box;
    }
}