.result__top{
    padding: 60px 0px;
}

.chess__title,
.chess__title span{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.chess__subtitle,
.chess__subtitle span{
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

.chess__detail,
.chess__detail span{
    padding-top: 30px;
}

.result__text span{
    font-weight: 600;
    color: rgb(188, 31, 34);
}

.result__title p,
.result__title span{
    font-size: 21px;
    font-weight: 600;
}

.result__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.result__img img{
    width: 200px;
}


.result__bg{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 24px;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}
.result__text{
    padding: 60px;
}
.result__bg .text__title{font-size: 20px; font-weight: 600; text-align: center;}
.result__text .text__result{margin: 20px 0px;}
.result__text .text__result p{color: rgb(188, 31, 34); text-align: center; font-size: 20px; font-weight: 600;}
.result__text .text__detail{text-align: left;}
.result__text .text__detail span{color: rgb(188, 31, 34);}

.result__middle{text-align: center; margin: 40px 0px; font-size:22px;}


.footer__container{width: 100%; position: fixed; bottom: 0;}
.footer__link__container{display: flex; justify-content: center; padding-bottom: 25px;}
.footer__link__container .footer__btn--link + div{margin-left: 36px;}
.footer__btn--link{display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer;}
.footer__btn--link .icon{display: flex; justify-content: center; align-items: center; width: 45px; height: 45px; background-color: #000000; border-radius: 50px;}
.footer__btn--link .icon i{color: #ffffff; font-size: 25px;}
.footer__btn--link span{font-size: 13px; margin-top: 6px;}

.footer__btn--link#twitter--copy .icon{background-color: unset;}
.footer__btn--link#twitter--copy .icon i{color: #000000; font-size: 35px;}

.result__bottom{text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 48px;}
.result__bottom__btn{width: 220px; height: 58px; display: inline-flex; flex-direction: column; justify-content: center; align-items: center; background-color: var(--success-color); cursor: pointer; text-decoration: none; border-radius: 28px; margin: 0; margin-top: 24px;}
.result__bottom__btn .btn__top{font-size: 12px;}
.result__bottom__btn .btn__bottom{font-size: 16px;}

@media all and (max-width:479px) {
    .result__bg{
        width: auto;
        padding: 20px;
    }
}